/*

font: 700 1em Futura, sans-serif; 
#DAEDF5
  border: 1px solid white;
*/

html,
body {
  height: 100%;
  margin: 0;
}


* {
  padding: 0;
  margin: 0;  
}

html {
    box-sizing: border-box;
}


body {
  background: #02172F;  
}

.wrapper {

}


#logo {
  width: 200px;
  height: 40px;

}

#logo img {
    width: 40px;
    height: 40px;
}

#logo span {
    color: #DAEDF5;
    font: 700 1.4rem futura, sans-serif;
    display: block;
    margin: -35px 0 0 50px;
}

#logo a {
    text-decoration: none;
}


.left-column {
    background: rgba(38, 187, 255, 0.1);
    width: 50%;
    padding: 2% 0 0 2%;
}


.left-column .content {
    width: 50%;
    margin: 25% auto 25% auto;
}


.left-column .content h1 {
    color: #DAEDF5;
    font: 700 2.3rem futura, sans-serif;
}

.left-column .content p:first-of-type {
    color: #DAEDF5;
    font: 500 1.4rem futura, sans-serif;
    margin: 35px 0 0 0;
}

.left-column .content p:nth-child(odd) {
    background: #26BCFF;
    color: #02172F;
    font: 700 1rem futura, sans-serif;
    text-align: center;
    border-radius: 15px;
    width: 65%;
    padding: 20px;
    margin: 15px 0;
}

.left-column .content img {
    width: 18px;
    height: 18px;
    margin: 0 25px 0 0;
 }
 


.left-column .content p:last-child {
    color: #DAEDF5;
    font: 100 1rem futura, sans-serif;
    width: 75%;
    text-align: left;
    line-height: 1.7em;
    margin: 25px 0;
}


.right-column {
    background: #02172F;
    width: 50%; 
    padding: 2% 0 0 2%;
}


.right-column .content {
    background: #02172F;
    width: 50%;
    margin: 25% auto 25% auto;
}

.right-column .content h3 {
    color: #DAEDF5;
    font: 600 1.5rem futura, sans-serif;
    margin-bottom: 50px;
}

.right-column .content div {
    background: #DAEDF5;
    border-radius: 15px;
    width: 85%;
    padding: 20px;
    margin-bottom: 25px;
    cursor: pointer;
}

.right-column .content span {
    font: 700 1.2rem futura, sans-serif;
    color: #02172F;
}

.right-column .content img {
   width: 18px;
   height: 18px;
   margin: 0 25px 0 0;
}

.right-column .content p img {
    margin: 25px 15px 0 0;
 }




.right-column  p {
    color: #DAEDF5;
    font: 100 1rem futura, sans-serif;
    margin-left: 15px;
}

.right-column .content button {
   background: #26BCFF;
   width: 89%;
   height: 75px;
   font: 700 1.2rem futura, sans-serif;
   color: #02172F;
   border: none;
   margin-top: 35px;
   cursor: pointer;
}


#menu {
    background: rgba(38, 187, 255, 0.1);
    width: 15%;
    height: 100%;
    padding: 2% 0 0 2%;
}

#menu nav ul {
    width: 100%;
    padding: 5% 0 0 0;
}

#menu nav ul li {
  list-style-type: none;
  padding: 7% 0 0 2%;

}

#menu nav ul li img {
    width: 24px;
    height: 24px;
    padding: 2% 2% 0 0;
}

#menu nav ul li a {
    color: #d9dfe4;
    font: 300 1.2rem futura, sans-serif;
    text-decoration: none;
    padding: 2% 0 0 2%;
}



input[type="file"] {
    display: none;
}
  


#personal-info, #notes, #accounts, #password-generator {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 25%;
}

#personal-info h1, #notes h1, #accounts h1, #password-generator h1 {
    color: #d9dfe4;
    font: 300 1.4rem futura, sans-serif;
    margin-bottom: 25px;
}


#personal-info img {
    width: 16px;
    height: 16px;
    padding: 15px 5px 0 0;
}

#personal-info label {
    width: 60%;
    height: 60px;
    border: 2px solid #26BCFF;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 0.2em;
    background-color: #02172F;
    transition: 1s;
    color: #26BCFF;
    font: 600 1.2rem futura, sans-serif;
    cursor: pointer;
}

#personal-info input[type='text'] {
    width: 60%;
    height: 40px;
    margin-bottom: 25px;
}


#personal-info input[type='email'] {
    width: 60%;
    height: 40px;
    margin-bottom: 50px;
}


#personal-info button, #password-generator button {
    width: 60%;
    height: 75px;
    margin-top: 25px;
    color: #02172F;
    border: 2px solid #26BCFF;
    background-color: #26BCFF;
    font: 600 1.2rem futura, sans-serif;
    cursor: pointer;
}

#password-generator input {
    width: 60%;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
    font: 100 1.2rem futura, sans-serif;
    color: #02172F !important;
}

#password-generator select {
    width: 60%;
    height: 40px;
    margin-bottom: 25px; 
    border-radius: 10px;
    border: none; 
    font: 100 1.2rem futura, sans-serif;
    color: #02172F;
}


#password-generator div {
    width: 60%;
    height: 45px;
    border: 2px solid #26BCFF;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 0.2em;
    background-color: #02172F;
    transition: 1s;
    color: #26BCFF;
    border-radius: 10px;
    font: 600 1.2rem futura, sans-serif;
    cursor: pointer;
}

#clipboardPasswd img {

   width: 24px;
   height: 32px;

}


#clipboardPasswd {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    border-radius: 0;
}


#accounts, #notes {
   width: 30%;
}

#accounts div, #notes div {
    background-color: rgb(38, 188, 255, 0.2);
    border-radius: 15px;
    height: 200px;
    padding: 4% 0 3% 0;
}


#accounts div h2, #notes div h2 {
    color: #DAEDF5;
    font: 700 1.5rem futura, sans-serif;
    width: 100%;
    text-align: center;
    line-height: 1.7em;


}

#accounts h3,  #notes h3 {
    color: #DAEDF5;
    font: 500 1.2rem futura, sans-serif;
    width: 100%;
    text-align: center;
    margin: 15px 0;

}

#accounts img, #notes img {
    
}

#accounts button, #notes button {
    width: 45%;
    height: 65px;
    margin: 0 auto;
    color: #02172F;
    border: 2px solid #26BCFF;
    background-color: #26BCFF;
    font: 600 1.2rem futura, sans-serif;
    cursor: pointer;
    display: block;
}





@media (min-width: 800px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
    }


}


@media (max-width: 801px) {
     .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
/*
    .left-column {
        width: 100% !important;
        height: 500px;
    } */
    
}
