{% extends 'base.j2' %}
{% block content %}
{% include 'menu.j2' %}
<div id="password-generator">
   <h1>Password Generator</h1>
   <form>
     <input type="number" min="8" max="40" placeholder=" Password Length" name="password_length">
     <br>
     <select name="password_characters">
        <option value="letters">Letters</option>
        <option value="digits">Digits</option>
        <option value="alphanumeric">Alphanumeric and special characters</option>
        <option value="mixed">Alphanumeric and special characters</option>
     </select>
   </form>
   <div><input type="image" src="{{ url_for('static', filename='images/notes.png')}}"></div>
   <button>Generate Password</button>
</div>
{% endblock %}