{% extends 'base.j2' %}
{% block content %}
{% include 'menu.j2' %}
<div id="password-generator">
   <h1>Password Generator</h1>
   <form method="post">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
     <input type="number" min="8" max="64" placeholder=" Password Length" name="password_length">
     <br>
     <select name="password_characters">
        <option value="letters">Letters</option>
        <option value="digits">Digits</option>
        <option value="alphanumeric">Alphanumeric characters</option>
        <option value="mixed">Alphanumeric and special characters</option>
     </select>
   <div>
        <span id="generated-password">{% if password %}{{ password }}{% endif %}</span>
        <span id="clipboardPasswd">
            <img src="{{ url_for('static', filename='images/notes.png')}}">
         </span>
      </div>
   <button>Generate Password</button>
   </form>
</div>
{% endblock %}

